<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475726095799-cu57ofbq9mm87ehllauc1oektfhps8cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475726095799-cu57ofbq9mm87ehllauc1oektfhps8cr</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wh64h2btODDL5YkrHigBJNh4bsd18KY</string>
	<key>GCM_SENDER_ID</key>
	<string>475726095799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tylercomisky.steelhacks</string>
	<key>PROJECT_ID</key>
	<string>steelhacks2021</string>
	<key>STORAGE_BUCKET</key>
	<string>steelhacks2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475726095799:ios:4b6f6822bdbf35c919b432</string>
</dict>
</plist>